In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('flightData2.csv')

In [3]:
df.shape

(7213446, 23)

In [4]:
df.head()

,Unnamed: 0,YEAR,MONTH,DAY,AIRLINE,TAIL_NUM,FLIGHT_NUMBER,ORIGIN_AIRPORT,DEST_AIRPORT,SCHEDULED_DEP_TIME,...,ACTUAL_ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,0,2018,4.0,1.0,AA,N156AN,2661.0,SEA,DFW,5.0,...,518.0,-32.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2018,4.0,1.0,AA,N919US,430.0,PHX,MIA,15.0,...,805.0,38.0,0.0,0,0.0,1.0,0.0,0.0,0.0,37.0
2,2,2018,4.0,1.0,DL,N320DN,2160.0,PHX,ATL,15.0,...,627.0,-19.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2018,4.0,1.0,DL,N820DN,1344.0,LAX,MSP,25.0,...,533.0,-31.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,2018,4.0,1.0,DL,N592NW,1450.0,LAS,MSP,25.0,...,446.0,-43.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

### Total numbers of flight & plane for each airline

In [9]:
plane_num = df.groupby(['AIRLINE','TAIL_NUM']).agg({"FLIGHT_NUMBER":"count"}).reset_index()
plane_num

     AIRLINE TAIL_NUM  FLIGHT_NUMBER
0         9E   N131EV           1173
1         9E   N132EV           1384
2         9E   N133EV           1381
3         9E   N134EV           1385
4         9E   N135EV           1393
5         9E   N136EV           1551
6         9E   N137EV           1455
7         9E   N138EV           1433
8         9E   N146PQ           1446
9         9E   N147PQ           1004
10        9E   N153PQ           1374
11        9E   N166PQ           1310
12        9E   N176PQ           1477
13        9E   N181PQ           1589
14        9E   N186PQ           1632
15        9E   N195PQ           1293
16        9E   N197PQ           1274
17        9E   N200PQ           1453
18        9E   N228PQ           1543
19        9E   N232PQ           1421
20        9E   N272PQ           1673
21        9E   N279PQ           1626
22        9E   N292PQ           1754
23        9E   N293PQ           1699
24        9E   N294PQ           1667
25        9E   N295PQ           1657
26        9E   N296PQ           1661
27        9E   N297PQ           1632
28        9E   N298PQ           1652
29        9E   N299PQ           1662
...      ...      ...            ...
5828      YX   N815MD           1658
5829      YX   N818MD           1673
5830      YX   N823MD           1657
5831      YX   N824MD           1625
5832      YX   N855RW           1710
5833      YX   N856RW           1754
5834      YX   N857RW           1637
5835      YX   N858RW           1764
5836      YX   N859RW           1773
5837      YX   N860RW           1677
5838      YX   N861RW           1733
5839      YX   N862RW           1652
5840      YX   N863RW           1752
5841      YX   N864RW           1612
5842      YX   N865RW           1715
5843      YX   N867RW           1630
5844      YX   N868RW           1514
5845      YX   N869RW           1554
5846      YX   N870RW           1606
5847      YX   N871RW           1657
5848      YX   N872RW           1536
5849      YX   N873RW           1654
5850      YX   N874RW           1566
5851      YX   N875RW           1557
5852      YX   N876RW            764
5853      YX   N878RW           1595
5854      YX   N879RW           1667
5855      YX   N880RW           1496
5856      YX   N882RW           1597
5857      YX   N979RP           1706

[5858 rows x 3 columns]

In [10]:
plane_num = plane_num.rename(columns={'FLIGHT_NUMBER': 'ROW_COUNT'})

In [12]:
ariline_basic_data = plane_num.groupby('AIRLINE').agg({"TAIL_NUM":"count","ROW_COUNT":"sum"}).reset_index()
# ariline_basic_data.to_csv("Airline Flight and Plane Count.csv")
ariline_basic_data

   AIRLINE  TAIL_NUM  ROW_COUNT
0       9E       158     245917
1       AA       969     916818
2       AS       230     245761
3       B6       252     305010
4       DL       900     949283
5       EV       196     202890
6       F9        98     120035
7       G4       115      96221
8       HA        64      83723
9       MQ       200     296001
10      NK       128     176178
11      OH       139     278457
12      OO       487     774137
13      UA       764     621565
14      VX        69      17670
15      WN       751    1352552
16      YV       146     215138
17      YX       192     316090

### Categorize flights into cancelled, diverted, ontime, and delayed and put them into 4 different dataframes

In [5]:
cancelled = df[df['CANCELLED'] == 1]
cancelled.shape

(116584, 23)

In [6]:
diverted = df[df['DIVERTED'] == 1]
diverted.shape

(17859, 23)

In [7]:
ontime_and_delay = df[(df['CANCELLED'] == 0)&(df['DIVERTED'] == 0)]
ontime_and_delay.shape

(7079005, 23)

In [8]:
sum = cancelled.shape[0] + diverted.shape[0] + ontime_and_delay.shape[0]
sum

7213448

In [9]:
df[(df['CANCELLED'] == 1)&(df['DIVERTED'] == 1)]

,Unnamed: 0,YEAR,MONTH,DAY,AIRLINE,TAIL_NUM,FLIGHT_NUMBER,ORIGIN_AIRPORT,DEST_AIRPORT,SCHEDULED_DEP_TIME,...,ACTUAL_ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
4605899,4605899,2018,3.0,21.0,F9,N309FR,874.0,PBI,TTN,1742.0,...,0.0,0.0,1.0,B,1.0,0.0,0.0,0.0,0.0,0.0
5199199,5199199,2018,5.0,20.0,YV,N85354,6345.0,JAX,IAH,1555.0,...,0.0,0.0,1.0,B,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
on_time = ontime_and_delay[ontime_and_delay['ARR_DELAY'] <= 15]
on_time.shape

(5773813, 23)

In [11]:
delay = ontime_and_delay[ontime_and_delay['ARR_DELAY'] > 15]
delay.shape

(1305192, 23)

### Ontime Flight Data

In [20]:
on_time_pct = on_time.groupby('AIRLINE').agg({"FLIGHT_NUMBER":"count"}).reset_index()
on_time_pct

   AIRLINE  FLIGHT_NUMBER
0       9E         196247
1       AA         725173
2       AS         204617
3       B6         218679
4       DL         818686
5       EV         156243
6       F9          84233
7       G4          74634
8       HA          75320
9       MQ         229344
10      NK         143814
11      OH         211607
12      OO         622339
13      UA         499228
14      VX          13842
15      WN        1081908
16      YV         167728
17      YX         250171

In [21]:
on_time_pct["Percentage"] = on_time_pct['FLIGHT_NUMBER']/ariline_basic_data['ROW_COUNT']
on_time_pct

   AIRLINE  FLIGHT_NUMBER  Percentage
0       9E         196247    0.798021
1       AA         725173    0.790967
2       AS         204617    0.832585
3       B6         218679    0.716957
4       DL         818686    0.862426
5       EV         156243    0.770087
6       F9          84233    0.701737
7       G4          74634    0.775652
8       HA          75320    0.899633
9       MQ         229344    0.774808
10      NK         143814    0.816299
11      OH         211607    0.759927
12      OO         622339    0.803913
13      UA         499228    0.803179
14      VX          13842    0.783362
15      WN        1081908    0.799901
16      YV         167728    0.779630
17      YX         250171    0.791455

In [105]:
# on_time_pct.to_csv("On Time Percentage.csv")

### Delayed flight analysis

In [22]:
delay_analysis = delay.groupby('AIRLINE').agg({"ARR_DELAY":"sum","FLIGHT_NUMBER":"count",\
                                              "CARRIER_DELAY":"sum","WEATHER_DELAY":"sum",\
                                               "NAS_DELAY":"sum","SECURITY_DELAY":"sum",\
                                               "LATE_AIRCRAFT_DELAY":"sum"}).reset_index()
delay_analysis

,AIRLINE,ARR_DELAY,FLIGHT_NUMBER,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,9E,3399640.0,42755,881853.0,249340.0,936198.0,1034.0,1331215.0
1,AA,11239857.0,174354,3708583.0,647550.0,2623689.0,22222.0,4237813.0
2,AS,1913420.0,38362,535574.0,47898.0,766404.0,7241.0,556303.0
3,B6,5562757.0,79079,1800507.0,143552.0,1308355.0,9081.0,2301262.0
4,DL,8430935.0,125151,2890869.0,728366.0,2294822.0,5957.0,2510921.0
5,EV,3338144.0,40340,1141492.0,131581.0,1020366.0,0.0,1044705.0
6,F9,2490374.0,33290,688223.0,24650.0,467888.0,0.0,1309613.0
7,G4,1555669.0,20558,579318.0,88552.0,219229.0,3477.0,665093.0
8,HA,379595.0,8055,244792.0,15603.0,8385.0,1286.0,109529.0
9,MQ,3392709.0,55153,785213.0,301687.0,945791.0,2639.0,1357379.0
10,NK,2308515.0,30315,409723.0,71429.0,1234022.0,5433.0,587908.0
11,OH,3662123.0,54177,1002503.0,239414.0,571072.0,4978.0,1844156.0
12,OO,11009058.0,138457,3554076.0,920007.0,2208140.0,11488.0,4315347.0
13,UA,8242207.0,115687,1893174.0,491783.0,2602587.0,289.0,3254374.0
14,VX,183915.0,3311,52769.0,1824.0,79433.0,801.0,49088.0
15,WN,13031039.0,249701,4099400.0,352314.0,2132505.0,39784.0,6407036.0
16,YV,3079711.0,41366,1057690.0,271194.0,451096.0,6440.0,1293291.0
17,YX,3607642.0,55081,800560.0,181391.0,1277274.0,2418.0,1345999.0

In [205]:
delay_analysis["AVG MIN DELAY"] = delay_analysis['ARR_DELAY']/delay_analysis['FLIGHT_NUMBER']
delay_analysis["PERCENTAGE"] = delay_analysis['FLIGHT_NUMBER']/ariline_basic_data['ROW_COUNT']

In [206]:
delay_analysis.rename(columns={"ARR_DELAY":"ARR_DELAY_TOTAL"})

,AIRLINE,ARR_DELAY_TOTAL,FLIGHT_NUMBER,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,AVG MIN DELAY,PERCENTAGE
0,9E,3399640.0,42755,881853.0,249340.0,936198.0,1034.0,1331215.0,79.514443,0.173859
1,AA,11239857.0,174354,3708583.0,647550.0,2623689.0,22222.0,4237813.0,64.465725,0.190173
2,AS,1913420.0,38362,535574.0,47898.0,766404.0,7241.0,556303.0,49.878004,0.156095
3,B6,5562757.0,79079,1800507.0,143552.0,1308355.0,9081.0,2301262.0,70.344301,0.259267
4,DL,8430935.0,125151,2890869.0,728366.0,2294822.0,5957.0,2510921.0,67.366102,0.131837
5,EV,3338144.0,40340,1141492.0,131581.0,1020366.0,0.0,1044705.0,82.750223,0.198827
6,F9,2490374.0,33290,688223.0,24650.0,467888.0,0.0,1309613.0,74.808471,0.277336
7,G4,1555669.0,20558,579318.0,88552.0,219229.0,3477.0,665093.0,75.672196,0.213654
8,HA,379595.0,8055,244792.0,15603.0,8385.0,1286.0,109529.0,47.125388,0.096210
9,MQ,3392709.0,55153,785213.0,301687.0,945791.0,2639.0,1357379.0,61.514496,0.186327
10,NK,2308515.0,30315,409723.0,71429.0,1234022.0,5433.0,587908.0,76.150915,0.172070
11,OH,3662123.0,54177,1002503.0,239414.0,571072.0,4978.0,1844156.0,67.595529,0.194561
12,OO,11009058.0,138457,3554076.0,920007.0,2208140.0,11488.0,4315347.0,79.512470,0.178853
13,UA,8242207.0,115687,1893174.0,491783.0,2602587.0,289.0,3254374.0,71.245749,0.186122
14,VX,183915.0,3311,52769.0,1824.0,79433.0,801.0,49088.0,55.546663,0.187380
15,WN,13031039.0,249701,4099400.0,352314.0,2132505.0,39784.0,6407036.0,52.186571,0.184615
16,YV,3079711.0,41366,1057690.0,271194.0,451096.0,6440.0,1293291.0,74.450297,0.192277
17,YX,3607642.0,55081,800560.0,181391.0,1277274.0,2418.0,1345999.0,65.497032,0.174257

In [211]:
delay_analysis[delay_analysis.columns[3:8]].sum(axis=1)

0      3399640.0
1     11239857.0
2      1913420.0
3      5562757.0
4      8430935.0
5      3338144.0
6      2490374.0
7      1555669.0
8       379595.0
9      3392709.0
10     2308515.0
11     3662123.0
12    11009058.0
13     8242207.0
14      183915.0
15    13031039.0
16     3079711.0
17     3607642.0
dtype: float64

In [207]:
delay_analysis.to_csv("Delay Analysis.csv")

### Cancelled flights data

In [54]:
cancelled_pct = cancelled.groupby('AIRLINE').agg({"ARR_DELAY":"sum","FLIGHT_NUMBER":"count"}).reset_index()
cancelled_pct["PERCENTAGE"] = cancelled_pct['FLIGHT_NUMBER']/ariline_basic_data['ROW_COUNT']
cancelled_pct

   AIRLINE  ARR_DELAY  FLIGHT_NUMBER  PERCENTAGE
0       9E        0.0           6355    0.025842
1       AA        0.0          14945    0.016301
2       AS        0.0           2207    0.008980
3       B6        0.0           6419    0.021045
4       DL        0.0           3528    0.003716
5       EV        0.0           5670    0.027946
6       F9        0.0           2328    0.019394
7       G4        0.0            769    0.007992
8       HA        0.0            250    0.002986
9       MQ        0.0          10655    0.035997
10      NK        0.0           1737    0.009859
11      OH        0.0          11870    0.042628
12      OO        0.0          10610    0.013706
13      UA        0.0           4903    0.007888
14      VX        0.0            433    0.024505
15      WN        0.0          18275    0.013511
16      YV        0.0           5530    0.025704
17      YX        0.0          10100    0.031953

In [55]:
cancelled_by_code = cancelled.groupby(["AIRLINE", "CANCELLATION_CODE"]).agg({"FLIGHT_NUMBER":"count"}).reset_index()
cancelled_by_code

   AIRLINE CANCELLATION_CODE  FLIGHT_NUMBER
0       9E                 A            341
1       9E                 B           2201
2       9E                 C           3813
3       AA                 A           4494
4       AA                 B           9699
5       AA                 C            726
6       AA                 D             26
7       AS                 A           1051
8       AS                 B            565
9       AS                 C            591
10      B6                 A           1360
11      B6                 B           3691
12      B6                 C           1368
13      DL                 A            434
14      DL                 B           2902
15      DL                 C            192
16      EV                 A           1543
17      EV                 B           1553
18      EV                 C           2574
19      F9                 A           1592
20      F9                 B            736
21      G4                 A            400
22      G4                 B            331
23      G4                 C             33
24      G4                 D              5
25      HA                 A            237
26      HA                 B             13
27      MQ                 A           1742
28      MQ                 B           2532
29      MQ                 C           6381
30      NK                 A            291
31      NK                 B           1268
32      NK                 C            177
33      NK                 D              1
34      OH                 A           4626
35      OH                 B           6477
36      OH                 C            765
37      OH                 D              2
38      OO                 A            729
39      OO                 B           8183
40      OO                 C           1698
41      UA                 A            912
42      UA                 B           3797
43      UA                 C            194
44      VX                 A            159
45      VX                 B            200
46      VX                 C             74
47      WN                 A           5287
48      WN                 B          10081
49      WN                 C           2906
50      WN                 D              1
51      YV                 A           2398
52      YV                 B           2483
53      YV                 C            641
54      YV                 D              8
55      YX                 A           1888
56      YX                 B           5272
57      YX                 C           2939
58      YX                 D              1

In [56]:
cancel_code = pd.read_csv("L_CANCELLATION.csv")
cancel_code

  Code          Description
0    A              Carrier
1    B              Weather
2    C  National Air System
3    D             Security

In [57]:
cancelcode_lookup = dict(zip(cancel_code.Code,cancel_code.Description))
cancelcode_lookup

{'A': 'Carrier', 'B': 'Weather', 'C': 'National Air System', 'D': 'Security'}

In [58]:
cancelled_by_code['DESCRIPTION'] = cancelled_by_code['CANCELLATION_CODE'].map(lambda x: cancelcode_lookup.get(x))
cancelled_by_code

   AIRLINE CANCELLATION_CODE  FLIGHT_NUMBER          DESCRIPTION
0       9E                 A            341              Carrier
1       9E                 B           2201              Weather
2       9E                 C           3813  National Air System
3       AA                 A           4494              Carrier
4       AA                 B           9699              Weather
5       AA                 C            726  National Air System
6       AA                 D             26             Security
7       AS                 A           1051              Carrier
8       AS                 B            565              Weather
9       AS                 C            591  National Air System
10      B6                 A           1360              Carrier
11      B6                 B           3691              Weather
12      B6                 C           1368  National Air System
13      DL                 A            434              Carrier
14      DL                 B           2902              Weather
15      DL                 C            192  National Air System
16      EV                 A           1543              Carrier
17      EV                 B           1553              Weather
18      EV                 C           2574  National Air System
19      F9                 A           1592              Carrier
20      F9                 B            736              Weather
21      G4                 A            400              Carrier
22      G4                 B            331              Weather
23      G4                 C             33  National Air System
24      G4                 D              5             Security
25      HA                 A            237              Carrier
26      HA                 B             13              Weather
27      MQ                 A           1742              Carrier
28      MQ                 B           2532              Weather
29      MQ                 C           6381  National Air System
30      NK                 A            291              Carrier
31      NK                 B           1268              Weather
32      NK                 C            177  National Air System
33      NK                 D              1             Security
34      OH                 A           4626              Carrier
35      OH                 B           6477              Weather
36      OH                 C            765  National Air System
37      OH                 D              2             Security
38      OO                 A            729              Carrier
39      OO                 B           8183              Weather
40      OO                 C           1698  National Air System
41      UA                 A            912              Carrier
42      UA                 B           3797              Weather
43      UA                 C            194  National Air System
44      VX                 A            159              Carrier
45      VX                 B            200              Weather
46      VX                 C             74  National Air System
47      WN                 A           5287              Carrier
48      WN                 B          10081              Weather
49      WN                 C           2906  National Air System
50      WN                 D              1             Security
51      YV                 A           2398              Carrier
52      YV                 B           2483              Weather
53      YV                 C            641  National Air System
54      YV                 D              8             Security
55      YX                 A           1888              Carrier
56      YX                 B           5272              Weather
57      YX                 C           2939  National Air System
58      YX                 D              1             Security

In [59]:
cancelled_by_code1 = cancelled_by_code.pivot(index="AIRLINE",columns="DESCRIPTION", values='FLIGHT_NUMBER').fillna(0)
cancelled_by_code1

DESCRIPTION  Carrier  National Air System  Security  Weather
AIRLINE
9E             341.0               3813.0       0.0   2201.0
AA            4494.0                726.0      26.0   9699.0
AS            1051.0                591.0       0.0    565.0
B6            1360.0               1368.0       0.0   3691.0
DL             434.0                192.0       0.0   2902.0
EV            1543.0               2574.0       0.0   1553.0
F9            1592.0                  0.0       0.0    736.0
G4             400.0                 33.0       5.0    331.0
HA             237.0                  0.0       0.0     13.0
MQ            1742.0               6381.0       0.0   2532.0
NK             291.0                177.0       1.0   1268.0
OH            4626.0                765.0       2.0   6477.0
OO             729.0               1698.0       0.0   8183.0
UA             912.0                194.0       0.0   3797.0
VX             159.0                 74.0       0.0    200.0
WN            5287.0               2906.0       1.0  10081.0
YV            2398.0                641.0       8.0   2483.0
YX            1888.0               2939.0       1.0   5272.0

In [60]:
cancelled_analysis = pd.merge(cancelled_pct, cancelled_by_code1,on="AIRLINE")
cancelled_analysis

,AIRLINE,ARR_DELAY,FLIGHT_NUMBER,PERCENTAGE,Carrier,National Air System,Security,Weather
0,9E,0.0,6355,0.025842,341.0,3813.0,0.0,2201.0
1,AA,0.0,14945,0.016301,4494.0,726.0,26.0,9699.0
2,AS,0.0,2207,0.008980,1051.0,591.0,0.0,565.0
3,B6,0.0,6419,0.021045,1360.0,1368.0,0.0,3691.0
4,DL,0.0,3528,0.003716,434.0,192.0,0.0,2902.0
5,EV,0.0,5670,0.027946,1543.0,2574.0,0.0,1553.0
6,F9,0.0,2328,0.019394,1592.0,0.0,0.0,736.0
7,G4,0.0,769,0.007992,400.0,33.0,5.0,331.0
8,HA,0.0,250,0.002986,237.0,0.0,0.0,13.0
9,MQ,0.0,10655,0.035997,1742.0,6381.0,0.0,2532.0
10,NK,0.0,1737,0.009859,291.0,177.0,1.0,1268.0
11,OH,0.0,11870,0.042628,4626.0,765.0,2.0,6477.0
12,OO,0.0,10610,0.013706,729.0,1698.0,0.0,8183.0
13,UA,0.0,4903,0.007888,912.0,194.0,0.0,3797.0
14,VX,0.0,433,0.024505,159.0,74.0,0.0,200.0
15,WN,0.0,18275,0.013511,5287.0,2906.0,1.0,10081.0
16,YV,0.0,5530,0.025704,2398.0,641.0,8.0,2483.0
17,YX,0.0,10100,0.031953,1888.0,2939.0,1.0,5272.0

In [239]:
# cancelled_analysis.to_csv("Cancelled Analysis.csv")

### Diverted Flight Data

In [61]:
diverted_pct = diverted.groupby('AIRLINE').agg({"ARR_DELAY":"sum","FLIGHT_NUMBER":"count"}).reset_index()
diverted_pct["PERCENTAGE"] = diverted_pct['FLIGHT_NUMBER']/ariline_basic_data['ROW_COUNT']
diverted_pct

   AIRLINE  ARR_DELAY  FLIGHT_NUMBER  PERCENTAGE
0       9E        0.0            560    0.002277
1       AA        0.0           2346    0.002559
2       AS        0.0            575    0.002340
3       B6        0.0            833    0.002731
4       DL        0.0           1918    0.002020
5       EV        0.0            637    0.003140
6       F9        0.0            185    0.001541
7       G4        0.0            260    0.002702
8       HA        0.0             98    0.001171
9       MQ        0.0            849    0.002868
10      NK        0.0            312    0.001771
11      OH        0.0            803    0.002884
12      OO        0.0           2731    0.003528
13      UA        0.0           1747    0.002811
14      VX        0.0             84    0.004754
15      WN        0.0           2668    0.001973
16      YV        0.0            515    0.002394
17      YX        0.0            738    0.002335

In [187]:
# diverted_pct.to_csv("Diverted Percentage.csv")

In [182]:
# diverted_pct["sum"] = diverted_pct['PERCENTAGE'] + cancelled_pct['PERCENTAGE'] + delay_analysis['PERCENTAGE'] + on_time_pct['Percentage']

In [184]:
# diverted_pct

   AIRLINE  ARR_DELAY  FLIGHT_NUMBER  PERCENTAGE       sum
0       9E        0.0            560    0.002277  1.000000
1       AA        0.0           2346    0.002559  1.000000
2       AS        0.0            575    0.002340  1.000000
3       B6        0.0            833    0.002731  1.000000
4       DL        0.0           1918    0.002020  1.000000
5       EV        0.0            637    0.003140  1.000000
6       F9        0.0            185    0.001541  1.000008
7       G4        0.0            260    0.002702  1.000000
8       HA        0.0             98    0.001171  1.000000
9       MQ        0.0            849    0.002868  1.000000
10      NK        0.0            312    0.001771  1.000000
11      OH        0.0            803    0.002884  1.000000
12      OO        0.0           2731    0.003528  1.000000
13      UA        0.0           1747    0.002811  1.000000
14      VX        0.0             84    0.004754  1.000000
15      WN        0.0           2668    0.001973  1.000000
16      YV        0.0            515    0.002394  1.000005
17      YX        0.0            738    0.002335  1.000000

### Delay Type Data

In [81]:
delay.head()

,Unnamed: 0,YEAR,MONTH,DAY,AIRLINE,TAIL_NUM,FLIGHT_NUMBER,ORIGIN_AIRPORT,DEST_AIRPORT,SCHEDULED_DEP_TIME,...,ACTUAL_ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1,1,2018,4.0,1.0,AA,N919US,430.0,PHX,MIA,15.0,...,805.0,38.0,0.0,0,0.0,1.0,0.0,0.0,0.0,37.0
59,59,2018,4.0,1.0,HA,N370HA,17.0,LAS,HNL,155.0,...,629.0,69.0,0.0,0,0.0,69.0,0.0,0.0,0.0,0.0
63,63,2018,4.0,1.0,B6,N520JB,954.0,SJU,FLL,243.0,...,610.0,39.0,0.0,0,0.0,0.0,0.0,0.0,0.0,39.0
68,68,2018,4.0,1.0,B6,N510JB,1092.0,BQN,FLL,316.0,...,616.0,29.0,0.0,0,0.0,0.0,0.0,0.0,0.0,29.0
69,69,2018,4.0,1.0,B6,N636JB,262.0,SJU,BOS,321.0,...,848.0,82.0,0.0,0,0.0,0.0,0.0,82.0,0.0,0.0

In [237]:
from collections import defaultdict

carrier_count = defaultdict(int)
weather_count = defaultdict(int)
NAS_count = defaultdict(int)
security_count = defaultdict(int)
late_aircraft_count = defaultdict(int)

for index, row in delay.iterrows():
    if row["CARRIER_DELAY"] >15:
        carrier_count[row.AIRLINE] +=1
    if row["WEATHER_DELAY"] >15:
        weather_count[row.AIRLINE] +=1
    if row["NAS_DELAY"]>15:
        NAS_count[row.AIRLINE] +=1    
    if row["SECURITY_DELAY"] > 15:
        security_count[row.AIRLINE] +=1
    if row["LATE_AIRCRAFT_DELAY"] >15:
        late_aircraft_count[row.AIRLINE] +=1

In [238]:
print(carrier_count)
print("")
print(weather_count)
print("")
print(NAS_count)
print("")
print(security_count)
print("")
print(late_aircraft_count)

defaultdict(<class 'int'>, {'HA': 4671, 'AA': 55119, 'F9': 10575, 'AS': 8805, 'WN': 70319, 'UA': 27279, 'YX': 11729, 'MQ': 12125, 'EV': 11644, 'OH': 15013, 'OO': 33190, 'DL': 37471, 'B6': 27576, 'YV': 13704, 'G4': 6280, '9E': 10779, 'NK': 5238, 'VX': 826})

defaultdict(<class 'int'>, {'YX': 2077, 'DL': 8397, 'OO': 7349, '9E': 1913, 'WN': 5527, 'MQ': 4001, 'G4': 1201, 'OH': 3448, 'UA': 5656, 'EV': 1071, 'AA': 8982, 'B6': 1835, 'HA': 210, 'AS': 639, 'YV': 2931, 'F9': 389, 'NK': 997, 'VX': 29})

defaultdict(<class 'int'>, {'B6': 25216, 'AA': 59058, 'WN': 47604, 'OO': 47097, 'EV': 16875, 'MQ': 20884, 'AS': 19180, '9E': 16358, 'NK': 18587, 'G4': 4568, 'DL': 46637, 'UA': 51138, 'OH': 12779, 'YX': 25806, 'F9': 10944, 'YV': 9941, 'HA': 177, 'VX': 1710})

defaultdict(<class 'int'>, {'AA': 363, 'DL': 120, 'MQ': 58, 'WN': 798, 'B6': 216, 'AS': 167, 'OH': 105, 'YV': 118, '9E': 16, 'OO': 145, 'G4': 86, 'YX': 46, 'HA': 33, 'NK': 108, 'VX': 16, 'UA': 2})

defaultdict(<class 'int'>, {'AA': 62928, 'B6': 33540, 'OO': 61793, 'UA': 42092, 'MQ': 23439, 'AS': 10009, 'WN': 120096, 'OH': 25770, 'HA': 2322, 'F9': 15535, 'DL': 38529, 'EV': 15220, '9E': 18778, 'G4': 9315, 'YX': 20252, 'YV': 16269, 'NK': 6449, 'VX': 830})

In [239]:
delay_reasons = pd.DataFrame([carrier_count, weather_count,NAS_count,security_count,late_aircraft_count])
delay_reasons

,9E,AA,AS,B6,DL,EV,F9,G4,HA,MQ,NK,OH,OO,UA,VX,WN,YV,YX
0,10779,55119,8805,27576,37471,11644.0,10575.0,6280,4671,12125,5238,15013,33190,27279,826,70319,13704,11729
1,1913,8982,639,1835,8397,1071.0,389.0,1201,210,4001,997,3448,7349,5656,29,5527,2931,2077
2,16358,59058,19180,25216,46637,16875.0,10944.0,4568,177,20884,18587,12779,47097,51138,1710,47604,9941,25806
3,16,363,167,216,120,NaN,NaN,86,33,58,108,105,145,2,16,798,118,46
4,18778,62928,10009,33540,38529,15220.0,15535.0,9315,2322,23439,6449,25770,61793,42092,830,120096,16269,20252

In [240]:
delay_reasons = delay_reasons.transpose().reset_index()

In [181]:
delay_reasons

   index         0        1         2       3         4
0     9E   16902.0   2949.0   24965.0    24.0   22932.0
1     AA   93341.0  13049.0   97867.0   767.0   82167.0
2     AS   12059.0    920.0   27603.0   313.0   11853.0
3     B6   53931.0   2203.0   43292.0   417.0   44475.0
4     DL   63464.0  13283.0   70980.0   121.0   53243.0
5     EV   16955.0   1375.0   24328.0     NaN   18645.0
6     F9   18367.0    607.0   18110.0     NaN   18801.0
7     G4    9592.0   1572.0   10686.0   150.0   11954.0
8     HA    6891.0    462.0     415.0    60.0    3615.0
9     MQ   22500.0   7031.0   34835.0   141.0   30126.0
10    NK   10023.0   1411.0   24664.0   200.0    7362.0
11    OH   29331.0   5806.0   26689.0   284.0   32787.0
12    OO   43297.0  10359.0   78102.0   246.0   78078.0
13    UA   47811.0   8783.0   72683.0     4.0   50410.0
14    VX    1140.0     37.0    2348.0    29.0     942.0
15    WN  157658.0   7068.0  102024.0  1085.0  171248.0
16    YV   18532.0   3659.0   16401.0   214.0   18527.0
17    YX   20296.0   3356.0   35821.0   108.0   25901.0

In [241]:
names = [delay.columns[4]] + list(delay.columns[-5:])

In [242]:
delay_reasons.columns = names
delay_reasons = delay_reasons.fillna(0)

In [243]:
delay_reasons

,AIRLINE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,9E,10779.0,1913.0,16358.0,16.0,18778.0
1,AA,55119.0,8982.0,59058.0,363.0,62928.0
2,AS,8805.0,639.0,19180.0,167.0,10009.0
3,B6,27576.0,1835.0,25216.0,216.0,33540.0
4,DL,37471.0,8397.0,46637.0,120.0,38529.0
5,EV,11644.0,1071.0,16875.0,0.0,15220.0
6,F9,10575.0,389.0,10944.0,0.0,15535.0
7,G4,6280.0,1201.0,4568.0,86.0,9315.0
8,HA,4671.0,210.0,177.0,33.0,2322.0
9,MQ,12125.0,4001.0,20884.0,58.0,23439.0
10,NK,5238.0,997.0,18587.0,108.0,6449.0
11,OH,15013.0,3448.0,12779.0,105.0,25770.0
12,OO,33190.0,7349.0,47097.0,145.0,61793.0
13,UA,27279.0,5656.0,51138.0,2.0,42092.0
14,VX,826.0,29.0,1710.0,16.0,830.0
15,WN,70319.0,5527.0,47604.0,798.0,120096.0
16,YV,13704.0,2931.0,9941.0,118.0,16269.0
17,YX,11729.0,2077.0,25806.0,46.0,20252.0

### Data prepared for Search Borad

In [187]:
df.columns

Index(['Unnamed: 0', 'YEAR', 'MONTH', 'DAY', 'AIRLINE', 'TAIL_NUM',
       'FLIGHT_NUMBER', 'ORIGIN_AIRPORT', 'DEST_AIRPORT', 'SCHEDULED_DEP_TIME',
       'ACTUAL_DEP_TIME', 'DEP_DELAY', 'SCHEDULED_ARR_TIME', 'ACTUAL_ARR_TIME',
       'ARR_DELAY', 'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY',
       'LATE_AIRCRAFT_DELAY'],
      dtype='object')

In [12]:
def categorize_performance(row):
    if row["DIVERTED"] == 1:
        return "Diverted"
    else:
        if row['CANCELLED'] == 1:
            return "Cancelled"
        else:
            if row["DEP_DELAY"] <= 15 :
                return "Ontime"
            if row["DEP_DELAY"] > 15:
                return"Delay"

In [13]:
df['PERFORMANCE'] = df.apply(categorize_performance,axis=1)

In [15]:
df['PERFORMANCE'].value_counts()

Ontime       5823932
Delay        1255073
Cancelled     116582
Diverted       17859
Name: PERFORMANCE, dtype: int64

In [90]:
df_group = df.groupby(["AIRLINE", "MONTH","PERFORMANCE","ORIGIN_AIRPORT","DEST_AIRPORT"]).agg({"FLIGHT_NUMBER":"count"}).reset_index()

In [115]:
df_group = df_group.rename(columns={'FLIGHT_NUMBER': 'TOTAL_FLIGHTS_NUMBER'})

In [116]:
df_group.head()

,AIRLINE,MONTH,PERFORMANCE,ORIGIN_AIRPORT,DEST_AIRPORT,TOTAL FLIGHTS NUMBER,AIRLINE_NAME
0,9E,1.0,Cancelled,ABY,ATL,3,Endeavor Air
1,9E,1.0,Cancelled,AEX,ATL,2,Endeavor Air
2,9E,1.0,Cancelled,ATL,ABY,3,Endeavor Air
3,9E,1.0,Cancelled,ATL,AEX,3,Endeavor Air
4,9E,1.0,Cancelled,ATL,BMI,1,Endeavor Air

In [88]:
df_group[(df_group["AIRLINE"] == "9E") & (df_group["MONTH"] == 1) & (df_group["ORIGIN_AIRPORT"]=="ATL") & (df_group["DEST_AIRPORT"]=="ABY")]

,AIRLINE,MONTH,PERFORMANCE,ORIGIN_AIRPORT,DEST_AIRPORT,Unnamed: 0,YEAR,DAY,TAIL_NUM,FLIGHT_NUMBER,...,ACTUAL_ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
2,9E,1.0,Cancelled,ATL,ABY,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
258,9E,1.0,Delay,ATL,ABY,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
697,9E,1.0,Ontime,ATL,ABY,72,72,72,72,72,...,72,72,72,72,72,72,72,72,72,72

In [14]:
ariline_name = pd.read_csv("Airlines.csv")
ariline_name

   AIRLINE                  AIRLINE_NAME
0       9E                  Endeavor Air
1       AA        American Airlines Inc.
2       AS          Alaska Airlines Inc.
3       B6               JetBlue Airways
4       DL          Delta Air Lines Inc.
5       EV   Atlantic Southeast Airlines
6       F9        Frontier Airlines Inc.
7       G4                Allegiant Air
8       HA        Hawaiian Airlines Inc.
9       MQ  American Eagle Airlines Inc.
10      NK              Spirit Air Lines
11      OH                  PSA Airlines
12      OO         Skywest Airlines Inc.
13      UA         United Air Lines Inc.
14      VX                Virgin America
15      WN        Southwest Airlines Co.
16      YV                 Mesa Airlines
17      YX              Midwest Airlines

In [15]:
ariline_name_lookup = dict(zip(ariline_name.AIRLINE,ariline_name.AIRLINE_NAME))
ariline_name_lookup

{'9E': 'Endeavor Air',
 'AA': 'American Airlines Inc.',
 'AS': 'Alaska Airlines Inc.',
 'B6': 'JetBlue Airways',
 'DL': 'Delta Air Lines Inc.',
 'EV': 'Atlantic Southeast Airlines',
 'F9': 'Frontier Airlines Inc.',
 'G4': 'Allegiant Air ',
 'HA': 'Hawaiian Airlines Inc.',
 'MQ': 'American Eagle Airlines Inc.',
 'NK': 'Spirit Air Lines',
 'OH': 'PSA Airlines',
 'OO': 'Skywest Airlines Inc.',
 'UA': 'United Air Lines Inc.',
 'VX': 'Virgin America',
 'WN': 'Southwest Airlines Co.',
 'YV': 'Mesa Airlines',
 'YX': 'Midwest Airlines'}

In [111]:
df_group['AIRLINE_NAME'] = df_group['AIRLINE'].map(lambda x: ariline_name_lookup.get(x))
df_group.sample(n=30)

,AIRLINE,MONTH,PERFORMANCE,ORIGIN_AIRPORT,DEST_AIRPORT,TOTAL FLIGHTS NUMBER,AIRLINE_NAME
66816,DL,8.0,Delay,ATL,ELP,13,Delta Air Lines Inc.
96915,F9,10.0,Cancelled,SJU,PHL,1,Frontier Airlines Inc.
167082,OO,6.0,Ontime,DTW,IND,45,Skywest Airlines Inc.
137435,NK,9.0,Delay,BOS,CLE,4,Spirit Air Lines
12832,AA,1.0,Delay,LIH,PHX,2,American Airlines Inc.
86866,F9,1.0,Delay,DEN,AUS,3,Frontier Airlines Inc.
52304,B6,11.0,Cancelled,CLT,JFK,1,JetBlue Airways
155782,OO,2.0,Delay,TUL,MSP,8,Skywest Airlines Inc.
94737,F9,8.0,Delay,SEA,CLE,1,Frontier Airlines Inc.
4577,9E,5.0,Delay,JFK,CVG,7,Endeavor Air
2731,9E,3.0,Delay,ORF,LGA,30,Endeavor Air
99704,F9,12.0,Delay,LAS,IND,3,Frontier Airlines Inc.
121526,MQ,4.0,Ontime,ORD,BWI,78,American Eagle Airlines Inc.
101519,G4,1.0,Ontime,PIE,AVL,13,Allegiant Air
182067,OO,12.0,Delay,CVG,MSP,2,Skywest Airlines Inc.
22740,AA,6.0,Ontime,OKC,DFW,179,American Airlines Inc.
240824,WN,12.0,Delay,LIT,PHX,3,Southwest Airlines Co.
238562,WN,11.0,Ontime,BWI,PIT,78,Southwest Airlines Co.
112271,G4,9.0,Ontime,PIA,AZA,8,Allegiant Air
257561,YX,4.0,Ontime,LGA,MSN,1,Midwest Airlines
253183,YX,1.0,Delay,PHL,MCI,4,Midwest Airlines
175125,OO,9.0,Ontime,BMI,MSP,22,Skywest Airlines Inc.
239709,WN,12.0,Cancelled,ABQ,AUS,1,Southwest Airlines Co.
114111,G4,11.0,Delay,TRI,SFB,3,Allegiant Air
31466,AA,11.0,Delay,SAN,PHX,16,American Airlines Inc.
127462,MQ,10.0,Cancelled,SJT,DFW,2,American Eagle Airlines Inc.
217631,WN,5.0,Delay,LAS,MDW,72,Southwest Airlines Co.
15029,AA,2.0,Ontime,BOS,LGA,269,American Airlines Inc.
42994,B6,1.0,Cancelled,JFK,PHX,2,JetBlue Airways
32031,AA,11.0,Ontime,MIA,STL,64,American Airlines Inc.

In [12]:
airport_names = pd.read_csv("airports.csv")
airport_names.head()

,ORIGIN_AIRPORT,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447

In [13]:
airport_name_lookup = dict(zip(airport_names.ORIGIN_AIRPORT,airport_names.AIRPORT))
airport_name_lookup

{'ABE': 'Lehigh Valley International Airport',
 'ABI': 'Abilene Regional Airport',
 'ABQ': 'Albuquerque International Sunport',
 'ABR': 'Aberdeen Regional Airport',
 'ABY': 'Southwest Georgia Regional Airport',
 'ACK': 'Nantucket Memorial Airport',
 'ACT': 'Waco Regional Airport',
 'ACV': 'Arcata Airport',
 'ACY': 'Atlantic City International Airport',
 'ADK': 'Adak Airport',
 'ADQ': 'Kodiak Airport',
 'AEX': 'Alexandria International Airport',
 'AGS': 'Augusta Regional Airport\xa0(Bush Field)',
 'AKN': 'King Salmon Airport',
 'ALB': 'Albany International Airport',
 'ALO': 'Waterloo Regional Airport',
 'AMA': 'Rick Husband Amarillo International Airport',
 'ANC': 'Ted Stevens Anchorage International Airport',
 'APN': 'Alpena County Regional Airport',
 'ASE': 'Aspen-Pitkin County Airport',
 'ATL': 'Hartsfield-Jackson Atlanta International Airport',
 'ATW': 'Appleton International Airport',
 'AUS': 'Austin-Bergstrom International Airport',
 'AVL': 'Asheville Regional Airport',
 'AVP': 'Wilkes-Barre/Scranton International Airport',
 'AZO': 'Kalamazoo/Battle Creek International Airport',
 'BDL': 'Bradley International Airport',
 'BET': 'Bethel Airport',
 'BFL': 'Meadows Field',
 'BGM': 'Greater Binghamton Airport',
 'BGR': 'Bangor International Airport',
 'BHM': 'Birmingham-Shuttlesworth International Airport',
 'BIL': 'Billings Logan International Airport',
 'BIS': 'Bismarck Municipal Airport',
 'BJI': 'Bemidji Regional Airport',
 'BLI': 'Bellingham International Airport',
 'BMI': 'Central Illinois Regional Airport at Bloomington-Normal',
 'BNA': 'Nashville International Airport',
 'BOI': 'Boise Airport\xa0(Boise Air Terminal)',
 'BOS': 'Gen. Edward Lawrence Logan International Airport',
 'BPT': 'Jack Brooks Regional Airport\xa0(Southeast Texas Regional)',
 'BQK': 'Brunswick Golden Isles Airport',
 'BQN': 'Rafael HernÃ¡ndez Airport',
 'BRD': 'Brainerd Lakes Regional Airport',
 'BRO': 'Brownsville/South Padre Island International Airport',
 'BRW': 'Wiley Post-Will Rogers Memorial Airport',
 'BTM': 'Bert Mooney Airport',
 'BTR': 'Baton Rouge Metropolitan Airport',
 'BTV': 'Burlington International Airport',
 'BUF': 'Buffalo Niagara International Airport',
 'BUR': 'Bob Hope Airport\xa0(Hollywood Burbank Airport)',
 'BWI': 'Baltimore-Washington International Airport',
 'BZN': 'Bozeman Yellowstone International Airport\xa0(Gallatin Field Airport)',
 'CAE': 'Columbia Metropolitan Airport',
 'CAK': 'Akron-Canton Regional Airport',
 'CDC': 'Cedar City Regional Airport',
 'CDV': 'Merle K. (Mudhole) Smith Airport',
 'CEC': 'Del Norte County Airport\xa0(Jack McNamara Field)',
 'CHA': 'Chattanooga Metropolitan Airport\xa0(Lovell Field)',
 'CHO': 'Charlottesville-Albemarle Airport',
 'CHS': 'Charleston International Airport/Charleston AFB',
 'CID': 'The Eastern Iowa Airport',
 'CIU': 'Chippewa County International Airport',
 'CLD': 'McClellan-Palomar Airport',
 'CLE': 'Cleveland Hopkins International Airport',
 'CLL': 'Easterwood Airport',
 'CLT': 'Charlotte Douglas International Airport',
 'CMH': 'Port Columbus International Airport',
 'CMI': 'University of Illinois - Willard Airport',
 'CMX': 'Houghton County Memorial Airport',
 'CNY': 'Canyonlands Field',
 'COD': 'Yellowstone Regional Airport',
 'COS': 'City of Colorado Springs Municipal Airport',
 'COU': 'Columbia Regional Airport',
 'CPR': 'Natrona County International Airport',
 'CRP': 'Corpus Christi International Airport',
 'CRW': 'Yeager Airport',
 'CSG': 'Columbus Metropolitan Airport',
 'CVG': 'Cincinnati/Northern Kentucky International Airport',
 'CWA': 'Central Wisconsin Airport',
 'DAB': 'Daytona Beach International Airport',
 'DAL': 'Dallas Love Field',
 'DAY': 'James M. Cox Dayton International Airport',
 'DBQ': 'Dubuque Regional Airport',
 'DCA': 'Ronald Reagan Washington National Airport',
 'DEN': 'Denver International Airport',
 'DFW': 'Dallas/Fort Worth International Airport',
 'DHN': 'Dothan Regional Airport',
 'DIK': 'Dickinson Theodore Roosevelt Regional Airport',
 'DLG': 'Dillingham Airport',
 'DLH': 'Duluth International Airport',
 'DRO': 'Durango-La Plata County Airport',
 'DSM': 'Des Moines International Airport',
 'DTW': 'Detroit Metropolitan Airport',
 'DVL': 'Devils Lake Regional Airport',
 'EAU': 'Chippewa Valley Regional Airport',
 'ECP': 'Northwest Florida Beaches International Airport',
 'EGE': 'Eagle County Regional Airport',
 'EKO': 'Elko Regional Airport',
 'ELM': 'Elmira/Corning Regional Airport',
 'ELP': 'El Paso International Airport',
 'ERI': 'Erie International Airport',
 'ESC': 'Delta County Airport',
 'EUG': 'Eugene Airport\xa0(Mahlon Sweet Field)',
 'EVV': 'Evansville Regional Airport',
 'EWN': 'Coastal Carolina Regional Airport\xa0(Craven County Regional)',
 'EWR': 'Newark Liberty International Airport',
 'EYW': 'Key West International Airport',
 'FAI': 'Fairbanks International Airport',
 'FAR': 'Hector International Airport',
 'FAT': 'Fresno Yosemite International Airport',
 'FAY': 'Fayetteville Regional Airport',
 'FCA': 'Glacier Park International Airport',
 'FLG': 'Flagstaff Pulliam Airport',
 'FLL': 'Fort Lauderdale-Hollywood International Airport',
 'FNT': 'Bishop International Airport',
 'FSD': 'Sioux Falls Regional Airport',
 'FSM': 'Fort Smith Regional Airport',
 'FWA': 'Fort Wayne International Airport',
 'GCC': 'Gillette-Campbell County Airport',
 'GCK': 'Garden City Regional Airport',
 'GEG': 'Spokane International Airport',
 'GFK': 'Grand Forks International Airport',
 'GGG': 'East Texas Regional Airport',
 'GJT': 'Grand Junction Regional Airport\xa0(Walker Field)',
 'GNV': 'Gainesville Regional Airport',
 'GPT': 'Gulfport-Biloxi International Airport',
 'GRB': 'Green Bay-Austin Straubel International Airport',
 'GRI': 'Central Nebraska Regional Airport',
 'GRK': 'Killeen-Fort Hood Regional Airport',
 'GRR': 'Gerald R. Ford International Airport',
 'GSO': 'Piedmont Triad International Airport',
 'GSP': 'Greenville-Spartanburg International Airport',
 'GST': 'Gustavus Airport',
 'GTF': 'Great Falls International Airport',
 'GTR': 'Golden Triangle Regional Airport',
 'GUC': 'Gunnison-Crested Butte Regional Airport',
 'GUM': 'Guam International Airport',
 'HDN': 'Yampa Valley Airport\xa0(Yampa Valley Regional)',
 'HIB': 'Range Regional Airport\xa0(Chisholm-Hibbing Airport)',
 'HLN': 'Helena Regional Airport',
 'HNL': 'Honolulu International Airport',
 'HOB': 'Lea County Regional Airport',
 'HOU': 'William P. Hobby Airport',
 'HPN': 'Westchester County Airport',
 'HRL': 'Valley International Airport',
 'HSV': 'Huntsville International Airport',
 'HYA': 'Barnstable Municipal Airport',
 'HYS': 'Hays Regional Airport',
 'IAD': 'Washington Dulles International Airport',
 'IAG': 'Niagara Falls International Airport',
 'IAH': 'George Bush Intercontinental Airport',
 'ICT': 'Wichita Dwight D. Eisenhower National Airport\xa0(Wichita Mid-Continent Airport)',
 'IDA': 'Idaho Falls Regional Airport',
 'ILG': 'Wilmington Airport',
 'ILM': 'Wilmington International Airport',
 'IMT': 'Ford Airport',
 'IND': 'Indianapolis International Airport',
 'INL': 'Falls International Airport',
 'ISN': 'Sloulin Field International Airport',
 'ISP': 'Long Island MacArthur Airport',
 'ITH': 'Ithaca Tompkins Regional Airport',
 'ITO': 'Hilo International Airport',
 'JAC': 'Jackson Hole Airport',
 'JAN': 'Jackson-Evers International Airport',
 'JAX': 'Jacksonville International Airport',
 'JFK': 'John F. Kennedy International Airport\xa0(New York International Airport)',
 'JLN': 'Joplin Regional Airport',
 'JMS': 'Jamestown Regional Airport',
 'JNU': 'Juneau International Airport',
 'KOA': 'Kona International Airport at Keahole',
 'KTN': 'Ketchikan International Airport',
 'LAN': 'Capital Region International Airport\xa0( Lansing Capital City)',
 'LAR': 'Laramie Regional Airport',
 'LAS': 'McCarran International Airport',
 'LAW': 'Lawton-Fort Sill Regional Airport',
 'LAX': 'Los Angeles International Airport',
 'LBB': 'Lubbock Preston Smith International Airport',
 'LBE': 'Arnold Palmer Regional Airport',
 'LCH': 'Lake Charles Regional Airport',
 'LEX': 'Blue Grass Airport',
 'LFT': 'Lafayette Regional Airport',
 'LGA': 'LaGuardia Airport (Marine Air Terminal)',
 'LGB': 'Long Beach Airport\xa0(Daugherty Field)',
 'LIH': 'Lihue Airport',
 'LIT': 'Bill and Hillary Clinton National Airport\xa0(Adams Field)',
 'LNK': 'Lincoln Airport\xa0(Lincoln Municipal)',
 'LRD': 'Laredo International Airport',
 'LSE': 'La Crosse Regional Airport',
 'LWS': 'Lewiston-Nez Perce County Airport',
 'MAF': 'Midland International Airport',
 'MBS': 'MBS International Airport',
 'MCI': 'Kansas City International Airport',
 'MCO': 'Orlando International Airport',
 'MDT': 'Harrisburg International Airport',
 'MDW': 'Chicago Midway International Airport',
 'MEI': 'Meridian Regional Airport',
 'MEM': 'Memphis International Airport',
 'MFE': 'McAllen-Miller International Airport\xa0(McAllen Miller International)',
 'MFR': 'Rogue Valley International Airport',
 'MGM': 'Montgomery Regional Airport',
 'MHK': 'Manhattan Regional Airport',
 'MHT': 'Manchester-Boston Regional Airport',
 'MIA': 'Miami International Airport',
 'MKE': 'General Mitchell International Airport',
 'MKG': 'Muskegon County Airport',
 'MLB': 'Melbourne International Airport',
 'MLI': 'Quad City International Airport',
 'MLU': 'Monroe Regional Airport',
 'MMH': 'Mammoth Yosemite Airport',
 'MOB': 'Mobile Regional Airport',
 'MOT': 'Minot International Airport',
 'MQT': 'Sawyer International Airport',
 'MRY': 'Monterey Regional Airport\xa0(Monterey Peninsula Airport)',
 'MSN': 'Dane County Regional Airport',
 'MSO': 'Missoula International Airport',
 'MSP': 'Minneapolis-Saint Paul International Airport',
 'MSY': 'Louis Armstrong New Orleans International Airport',
 'MTJ': 'Montrose Regional Airport',
 'MVY': "Martha's Vineyard Airport",
 'MYR': 'Myrtle Beach International Airport',
 'OAJ': 'Albert J. Ellis Airport',
 'OAK': 'Oakland International Airport',
 'OGG': 'Kahului Airport',
 'OKC': 'Will Rogers World Airport',
 'OMA': 'Eppley Airfield',
 'OME': 'Nome Airport',
 'ONT': 'Ontario International Airport',
 'ORD': "Chicago O'Hare International Airport",
 'ORF': 'Norfolk International Airport',
 'ORH': 'Worcester Regional Airport',
 'OTH': 'Southwest Oregon Regional Airport\xa0(North Bend Municipal)',
 'OTZ': 'Ralph Wien Memorial Airport',
 'PAH': 'Barkley Regional Airport',
 'PBG': 'Plattsburgh International Airport',
 'PBI': 'Palm Beach International Airport',
 'PDX': 'Portland International Airport',
 'PHF': 'Newport News/Williamsburg International Airport',
 'PHL': 'Philadelphia International Airport',
 'PHX': 'Phoenix Sky Harbor International Airport',
 'PIA': 'General Wayne A. Downing Peoria International Airport',
 'PIB': 'Hattiesburg-Laurel Regional Airport',
 'PIH': 'Pocatello Regional Airport',
 'PIT': 'Pittsburgh International Airport',
 'PLN': 'Pellston Regional Airport of Emmet County',
 'PNS': 'Pensacola International Airport\xa0(Pensacola Gulf Coast Regional Airport)',
 'PPG': 'Pago Pago International Airport (Tafuna Airport)',
 'PSC': 'Tri-Cities Airport',
 'PSE': 'Mercedita Airport',
 'PSG': 'Petersburg James A. Johnson Airport',
 'PSP': 'Palm Springs International Airport',
 'PUB': 'Pueblo Memorial Airport',
 'PVD': 'Theodore Francis Green State Airport',
 'PWM': 'Portland International Jetport',
 'RAP': 'Rapid City Regional Airport',
 'RDD': 'Redding Municipal Airport',
 'RDM': 'Redmond Municipal Airport\xa0(Roberts Field)',
 'RDU': 'Raleigh-Durham International Airport',
 'RHI': 'Rhinelander-Oneida County Airport',
 'RIC': 'Richmond International Airport',
 'RKS': 'Rock Springs-Sweetwater County Airport',
 'RNO': 'Reno/Tahoe International Airport',
 'ROA': 'Roanoke Regional Airport\xa0(Woodrum Field)',
 'ROC': 'Greater Rochester International Airport',
 'ROW': 'Roswell International Air Center',
 'RST': 'Rochester International Airport',
 'RSW': 'Southwest Florida International Airport',
 'SAF': 'Santa Fe Municipal Airport',
 'SAN': 'San Diego International Airport\xa0(Lindbergh Field)',
 'SAT': 'San Antonio International Airport',
 'SAV': 'Savannah/Hilton Head International Airport',
 'SBA': 'Santa Barbara Municipal Airport\xa0(Santa Barbara Airport)',
 'SBN': 'South Bend International Airport\xa0(South Bend Regional)',
 'SBP': 'San Luis Obispo County Regional Airport\xa0(McChesney Field)',
 'SCC': 'Deadhorse Airport\xa0(Prudhoe Bay Airport)',
 'SCE': 'University Park Airport',
 'SDF': 'Louisville International Airport\xa0(Standiford Field)',
 'SEA': 'Seattle-Tacoma International Airport',
 'SFO': 'San Francisco International Airport',
 'SGF': 'Springfield-Branson National Airport',
 'SGU': 'St. George Regional Airport',
 'SHV': 'Shreveport Regional Airport',
 'SIT': 'Sitka Rocky Gutierrez Airport',
 'SJC': 'Norman Y. Mineta San JosÃ© International Airport',
 'SJT': 'San Angelo Regional Airport\xa0(Mathis Field)',
 'SJU': 'Luis MuÃ±oz MarÃ­n International Airport',
 'SLC': 'Salt Lake City International Airport',
 'SMF': 'Sacramento International Airport',
 'SMX': 'Santa Maria Public Airport\xa0(Capt G. Allan Hancock Field)',
 'SNA': 'John Wayne Airport\xa0(Orange County Airport)',
 'SPI': 'Abraham Lincoln Capital Airport',
 'SPS': 'Wichita Falls Municipal Airport/Sheppard AFB',
 'SRQ': 'Sarasota-Bradenton International Airport',
 'STC': 'St. Cloud Regional Airport',
 'STL': 'St. Louis International Airport at Lambert Field',
 'STT': 'Cyril E. King Airport',
 'STX': 'Henry E. Rohlsen Airport',
 'SUN': 'Friedman Memorial Airport',
 'SUX': 'Sioux Gateway Airport',
 'SWF': 'Stewart International Airport',
 'SYR': 'Syracuse Hancock International Airport',
 'TLH': 'Tallahassee International Airport',
 'TOL': 'Toledo Express Airport',
 'TPA': 'Tampa International Airport',
 'TRI': 'Tri-Cities Regional Airport',
 'TTN': 'Trenton Mercer Airport',
 'TUL': 'Tulsa International Airport',
 'TUS': 'Tucson International Airport',
 'TVC': 'Cherry Capital Airport',
 'TWF': 'Magic Valley Regional Airport\xa0(Joslin Field)',
 'TXK': 'Texarkana Regional Airport\xa0(Webb Field)',
 'TYR': 'Tyler Pounds Regional Airport',
 'TYS': 'McGhee Tyson Airport',
 'UST': 'Northeast Florida Regional Airport\xa0(St. Augustine Airport)',
 'VEL': 'Valdez Airport',
 'VLD': 'Valdosta Regional Airport',
 'VPS': 'Destin-Fort Walton Beach Airport/Eglin AFB',
 'WRG': 'Wrangell Airport',
 'WYS': 'Westerly State Airport',
 'XNA': 'Northwest Arkansas Regional Airport',
 'YAK': 'Yakutat Airport',
 'YUM': 'Yuma International Airport'}

In [125]:
df_group["ORIGIN_AIRPORT_Name"] =  df_group['ORIGIN_AIRPORT'].map(lambda x: airport_name_lookup.get(x))

In [127]:
df_group["DEST_AIRPORT_Name"] =  df_group['DEST_AIRPORT'].map(lambda x: airport_name_lookup.get(x))

In [128]:
df_group.head()

,AIRLINE,MONTH,PERFORMANCE,ORIGIN_AIRPORT,DEST_AIRPORT,TOTAL FLIGHTS NUMBER,AIRLINE_NAME,ORIGIN_AIRPORT_Name,DEST_AIRPORT_Name
0,9E,1.0,Cancelled,ABY,ATL,3,Endeavor Air,Southwest Georgia Regional Airport,Hartsfield-Jackson Atlanta International Airport
1,9E,1.0,Cancelled,AEX,ATL,2,Endeavor Air,Alexandria International Airport,Hartsfield-Jackson Atlanta International Airport
2,9E,1.0,Cancelled,ATL,ABY,3,Endeavor Air,Hartsfield-Jackson Atlanta International Airport,Southwest Georgia Regional Airport
3,9E,1.0,Cancelled,ATL,AEX,3,Endeavor Air,Hartsfield-Jackson Atlanta International Airport,Alexandria International Airport
4,9E,1.0,Cancelled,ATL,BMI,1,Endeavor Air,Hartsfield-Jackson Atlanta International Airport,Central Illinois Regional Airport at Bloomingt...

In [129]:
df_group.to_csv("Grouped FlightData.csv")

### Data prepared for airline bar and pie chart

In [8]:
grouped_performance = df.groupby(["AIRLINE","PERFORMANCE"]).agg({"FLIGHT_NUMBER":"count"}).reset_index()

In [10]:
grouped_performance.groupby("AIRLINE").count()

         PERFORMANCE  FLIGHT_NUMBER
AIRLINE
9E                 4              4
AA                 4              4
AS                 4              4
B6                 4              4
DL                 4              4
EV                 4              4
F9                 4              4
G4                 4              4
HA                 4              4
MQ                 4              4
NK                 4              4
OH                 4              4
OO                 4              4
UA                 4              4
VX                 4              4
WN                 4              4
YV                 4              4
YX                 4              4

In [17]:
grouped_performance['AIRLINE_NAME'] = grouped_performance['AIRLINE'].map(lambda x: ariline_name_lookup.get(x))

In [49]:
grouped_performance.head(10)

  AIRLINE PERFORMANCE  FLIGHT_NUMBER            AIRLINE_NAME
0      9E   Cancelled           6355            Endeavor Air
1      9E       Delay          40185            Endeavor Air
2      9E    Diverted            560            Endeavor Air
3      9E      Ontime         198817            Endeavor Air
4      AA   Cancelled          14945  American Airlines Inc.
5      AA       Delay         159237  American Airlines Inc.
6      AA    Diverted           2346  American Airlines Inc.
7      AA      Ontime         740290  American Airlines Inc.
8      AS   Cancelled           2207    Alaska Airlines Inc.
9      AS       Delay          30707    Alaska Airlines Inc.

In [62]:
grouped_performance1 = grouped_performance.pivot(index="AIRLINE_NAME",columns="PERFORMANCE", values='FLIGHT_NUMBER').reset_index()
grouped_performance1

PERFORMANCE,AIRLINE_NAME,Cancelled,Delay,Diverted,Ontime
0,Alaska Airlines Inc.,2207,30707,575,212272
1,Allegiant Air,769,19727,260,75465
2,American Airlines Inc.,14945,159237,2346,740290
3,American Eagle Airlines Inc.,10655,47166,849,237331
4,Atlantic Southeast Airlines,5670,35613,637,160970
5,Delta Air Lines Inc.,3528,128229,1918,815608
6,Endeavor Air,6355,40185,560,198817
7,Frontier Airlines Inc.,2327,33550,185,83973
8,Hawaiian Airlines Inc.,250,5922,98,77453
9,JetBlue Airways,6419,77579,833,220179
10,Mesa Airlines,5529,35954,515,173140
11,Midwest Airlines,10100,47025,738,258227
12,PSA Airlines,11870,52328,803,213456
13,Skywest Airlines Inc.,10610,121055,2731,639741
14,Southwest Airlines Co.,18275,287251,2668,1044358
15,Spirit Air Lines,1737,27934,312,146195
16,United Air Lines Inc.,4903,102698,1747,512217
17,Virgin America,433,2913,84,14240

In [72]:
results = [] 
for i, row in grouped_performance1.iterrows():
    results.append({'Airline': row.AIRLINE_NAME, "freq":{'cancelled':row.Cancelled,'delay':row.Delay,\
                                                  'diverted':row.Diverted,'ontime':row.Ontime}})

In [69]:
import json
with open('result.json', 'w') as fp:
    json.dump(results, fp)

In [74]:
grouped_performance1["sum"] = grouped_performance1.sum(axis=1)

In [75]:
grouped_performance1

PERFORMANCE,AIRLINE_NAME,Cancelled,Delay,Diverted,Ontime,sum
0,Alaska Airlines Inc.,2207,30707,575,212272,245761
1,Allegiant Air,769,19727,260,75465,96221
2,American Airlines Inc.,14945,159237,2346,740290,916818
3,American Eagle Airlines Inc.,10655,47166,849,237331,296001
4,Atlantic Southeast Airlines,5670,35613,637,160970,202890
5,Delta Air Lines Inc.,3528,128229,1918,815608,949283
6,Endeavor Air,6355,40185,560,198817,245917
7,Frontier Airlines Inc.,2327,33550,185,83973,120035
8,Hawaiian Airlines Inc.,250,5922,98,77453,83723
9,JetBlue Airways,6419,77579,833,220179,305010
10,Mesa Airlines,5529,35954,515,173140,215138
11,Midwest Airlines,10100,47025,738,258227,316090
12,PSA Airlines,11870,52328,803,213456,278457
13,Skywest Airlines Inc.,10610,121055,2731,639741,774137
14,Southwest Airlines Co.,18275,287251,2668,1044358,1352552
15,Spirit Air Lines,1737,27934,312,146195,176178
16,United Air Lines Inc.,4903,102698,1747,512217,621565
17,Virgin America,433,2913,84,14240,17670

In [77]:
grouped_performance1['Cancelled'][:6].sum()

37774

In [80]:
grouped_performance1.to_csv("grouped_performance.csv")